#metacore-icon {
  -moz-appearance: none;
  min-width: 0px;

  margin-right: 1px !important;
  margin-left: 1px !important;

}

#metacore-icon[select]
{
  list-style-image: url("chrome://metacore/skin/images/sw-cube-18.png");
}
